<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.Properties.Settings.nwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\Program Files (x86)\Developer Express .NET v7.3\Demos\Data\nwind.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>